@media (max-width:1400px) {
    #specs-id {
        padding-top: 100px!important;
        background-color: #000
    }
    .div-block-spec {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: #000
    }
    .div-block-spec .spec-div-image {
        width: 100%;
        height: 40vh;
        z-index: 0;
        margin: 0;
        background-color: #000
    }
    .div-block-spec .spec-div-block-text {
        width: 100%;
        height: auto;
        padding-top: 0;
        background-color: #000
    }
    #company h3 {
        margin-bottom: 10px
    }
}

@media (max-height:780px) and (min-width:991px) {
    .specstext {
        font-size: .9em
    }
}

@media (max-width:991px) {
    .design.page.fullpage.page-snap.page-100.fp-section.fp-table {
        min-height: 460px;
        height: auto!important
    }
    .design2 .row .copy.flex-col {
        justify-content: flex-start
    }
    .design2 .row .copy.flex-col.wid-33.hei-400.scroll-fx {
        top: 0
    }
    .design2.fp-section.fp-table {
        height: auto!important;
        display: flex
    }
    .design2.fp-section.fp-table>.fp-tableCell {
        height: auto!important
    }
    .design2 .row.last .fader-image.wid-67 {
        margin-right: 0
    }
    .design2 .row {
        height: auto;
        flex-direction: column-reverse
    }
    .design2 .row:nth-child(0) {
        height: auto;
        flex-direction: column-reverse
    }
    .design2 .row:nth-child(1) {
        height: auto;
        flex-direction: column
    }
    .design2 .row .fader-image.wid-67 {
        width: 100%!important;
        margin: 0
    }
    .design2 .row .fader-image.wid-67 {
        position: relative;
        width: 100%!important
    }
    .design2 .row .fader-image.wid-67 img {
        width: 100%!important;
        position: absolute;
        top: 0;
        left: 0
    }
    .design2 .row .copy.flex-col.wid-33.hei-400.scroll-fx {
        width: 100%!important;
        max-width: 100%!important;
        margin: 0;
        padding: 20px 0;
        height: auto;
        display: flex;
        flex-direction: center;
        top: 0
    }
    .design2 .row .copy.flex-col.wid-33.hei-400.scroll-fx .inner {
        width: 100%!important;
        height: auto;
        max-width: 100%!important
    }
    #hometop-id .div-block-specs {
        bottom: 7%
    }
    .home_tagline {
        top: auto;
        bottom: auto;
        line-height: 1.2em
    }
    .heading-3.tagline {
        font-size: .99em
    }
}

@media (min-width:601px) and (max-width:991px) {
    .div-block-gte img {
        transform: scale(.75)
    }
}

@media (min-width:768px) and (max-width:1024px) {
    .homerichtext {
        font-size: 11px
    }
}

@media (min-width:580px) {
    .body-2 #contact .div-block-27 {
        min-width: 480px
    }
}

@media (max-width:640px) {
    .div-block-tv.fader-image{
        background-image: url(https://uploads-ssl.webflow.com/5d42433702c7536df3627046/5e6aacb0b27dcc36c419983c_5e6aa65c9f5e0247f54fff24_Drako_torque-small.jpg) !important;
    }
    .div-design-image.fader-image{
        background-image: url(https://uploads-ssl.webflow.com/5d42433702c7536df3627046/5e6aacaeda2424a67a2efc8e_5e6aa65c9f5e024b274fff0a_Drako_sideview-small.jpg) !important;
    }
    .spec-div-image{
        background-image: url(https://uploads-ssl.webflow.com/5d42433702c7536df3627046/5e6aacadd71eefc4f4f45b60_5e6aa65c9f5e0262604fff26_Drako_specs-small.jpg) !important;
    }
    .techsliderimage{
        background-image: url(https://uploads-ssl.webflow.com/5d42433702c7536df3627046/5e6aae6a8a57281f1645a68b_5e6aa65c9f5e020a0f4fff1e_Drako_engine-small.jpg) !important;
    }
    .techsliderimage2{
        background-image: url(https://uploads-ssl.webflow.com/5d42433702c7536df3627046/5e6aae698a5728006c45a685_5e6aa65c9f5e023e664fff45_GTE_Torque_Vectoring_Rev14-small.jpg) !important;
    }
    .techsliderimage3{
        background-image: url(https://uploads-ssl.webflow.com/5d42433702c7536df3627046/5e6aae6b52f3f87e1b47edcd_5e6aa65c9f5e025a024fff09_Drako_battery-small.jpg) !important;
    }
    .techsliderimage4{
        background-image: url(https://uploads-ssl.webflow.com/5d42433702c7536df3627046/5e6aae6a52f3f84bcc47edcc_5e6aa65c9f5e02662a4fff18_Drako_brakes-small.jpg) !important;
    }

}
@media screen and (max-width:480px) {
    #video-carousel-section-id .div-video-header{
        position: relative !important;
        margin-top: auto !important;
        margin-bottom: 0 !important;
        padding-bottom: 25px !important;
    }
    #video-carousel-section-id .slider-wrap{
        margin-top: 0 !important;
        margin-bottom: auto !important;
        padding-top: 0 !important;
    }
    #video-carousel-section-id > .fp-tableCell{
        display: flex !important;
        flex-direction: column;
        align-content: center;
    }
    .slider-arrow.left.w-slider-arrow-left, .slider-arrow.right.w-slider-arrow-right{
        opacity:  1 !important;
        display: block !important;
    }
    #contact-id .div-block-28 {
        height: 100%
    }
    .background-video-2 {
        height: 42vh
    }
    #technology-id h1.heading-1.subsection {
        font-size: 1.4em!important
    }
    .page-snap p {
        font-size: 13px
    }
    #design-id .fp-tableCell,
    #torque-id .fp-tableCell {
        height: auto!important
    }
    #design-id {
        height: auto!important;
        flex-direction: column-reverse
    }
    #performance-id,
    #performance-id>.fp-tableCell {
        width: auto
    }
    .footer .text-block {
        font-size: 9px
    }
    .div-block-tv.fader-image {
        height: 40vh
    }
    .nav-link-4 {
        margin-top: 0
    }
    .home_tagline {
        padding: 0 20px;
        margin-top: -40px;
        font-size: 4vw
    }
    .homerichtext {
        font-size: 10px
    }
    .fp-slidesNav.fp-bottom {
        text-align: center;
        bottom: 35px!important
    }
    .fp-tableCell {
        vertical-align: top!important
    }
    .slide .techsliderimage2 {
        background-position: 50% 50%;
        background-size: 100%;
        background-image: url(https://uploads-ssl.webflow.com/5d42433702c7536df3627046/5d9f81d1f70f351803847163_5d7c19be5b749362c0a3db1a_GTE_torque_vectoring_web_Rev7-mobile.jpg)
    }
    #hometop-id.splash.page-snap {
        background-image: url(https://uploads-ssl.webflow.com/5d42433702c7536df3627046/5eced582c552aaff80682432_190821AM02_1446--mobile3.jpg)
    }
    #contact-id {
        min-height: 100vh;
        background-image: url(https://uploads-ssl.webflow.com/5d42433702c7536df3627046/5d57215e63321242c1aeab62_Drako_contact_mobile2.jpg)
    }
    .companysection {
        background-image: url(https://uploads-ssl.webflow.com/5d42433702c7536df3627046/5d57214bc88cbc0f327907ad_Drako_company_mobile.jpg)
    }
}
@media screen and (width: 375px) {
    #hometop-id.splash.page-snap {
        background-image: url(https://uploads-ssl.webflow.com/5ecea4a4cece3b900e4bbb70/5ecf2e3e0e918eac5d9d9fc1_190821AM02_1446%3Dnew-mobile-7.jpg) !important

    }
 }
@media screen and (width: 360px) and (height:640px) {
    #hometop-id.splash.page-snap {
        background-image: url(https://uploads-ssl.webflow.com/5d42433702c7536df3627046/5ecf39ceb314baf3f38850bc_190821AM02_1446--360x640-oo.jpg) !important
        
    }
 }
@media screen and (width: 360px) and (height:740px) {
    #hometop-id.splash.page-snap {
        background-image: url(https://uploads-ssl.webflow.com/5d42433702c7536df3627046/5ecf39d0fe2db919bd327233_190821AM02_1446--360x740-oo.jpg) !important
        
    }
 }
@media screen and (max-width: 411px) and (height:823px) {
    #hometop-id.splash.page-snap {
        background-image: url(https://uploads-ssl.webflow.com/5d42433702c7536df3627046/5ecf39ce0e918e8a8b9dce60_190821AM02_1446--411x823-oo.jpg) !important
        
    }
 }
@media screen and (max-width: 411px) and (height:731px) {
    #hometop-id.splash.page-snap {
        background-image: url(https://uploads-ssl.webflow.com/5d42433702c7536df3627046/5ecffac7917a694fccbac132_190821AM02_411x731-o.jpg) !important
        
    }
 }
@media screen and (width: 1440px) and (height:3040px) {
    #hometop-id.splash.page-snap {
        background-image: url(https://uploads-ssl.webflow.com/5d42433702c7536df3627046/5ecfe4458ce752af8207e3fe_190821AM02_1440x3040-o.jpg) !important
        
    }
 }
@media screen and (width: 1080px) and (height:2180px) {
    #hometop-id.splash.page-snap {
        background-image: url(https://uploads-ssl.webflow.com/5d42433702c7536df3627046/5ecfe4449d8fbe4d46e2b746_190821AM02_1080x2180-o.jpg) !important
        
    }
 }
@media screen and (width: 375px) and (height:812px) {
    #hometop-id.splash.page-snap {
        background-image: url(https://uploads-ssl.webflow.com/5d42433702c7536df3627046/5ecfe760b314bab6328c8bbe_190821AM02_375x812-o.jpg) !important
        
    }
 }
@media screen and (width: 320px) and (height:568px) {
    #hometop-id.splash.page-snap {
        background-image: url(https://uploads-ssl.webflow.com/5d42433702c7536df3627046/5ecfe9a7ecf1c51ee8b46250_190821AM02_320x568-o.jpg) !important
        
    }
 }
@media screen and (width: 980px) and (height:1702px) {
    #hometop-id.splash.page-snap {
        background-image: url(https://uploads-ssl.webflow.com/5d42433702c7536df3627046/5ecfee8925d6024016fbce81_190821AM02_980x1702-o.jpg) !important
        
    }
 }
@media screen and (width: 414px) and (height:896px) {
    #hometop-id.splash.page-snap {
        background-image: url(https://uploads-ssl.webflow.com/5d42433702c7536df3627046/5ecff0f59540ca19edf6a3a8_190821AM02_414x896-o.jpg) !important
        
    }
 }
@media screen and (width: 414px) and (height:736px) {
    #hometop-id.splash.page-snap {
        background-image: url(https://uploads-ssl.webflow.com/5d42433702c7536df3627046/5ecff5c5c601032d50c4e188_190821AM02_414x736-o.jpg) !important
        
    }
 }
@media screen and (width: 414px) and (height:719px) {
    #hometop-id.splash.page-snap {
        background-image: url(https://uploads-ssl.webflow.com/5d42433702c7536df3627046/5ed0020f851e75782869b775_190821AM02_1446--414x719-o.jpg) !important
        
    }
 }
